body {
  background-color: gray;
}

header {
/*  to not touch the page top  */
  margin-top: 1rem;
/*  the figure wouldn't look right without this  */
  contain: layout;
}

.card-body li::marker {
  content: '>';
  font-size: 3ch;
}

#about .card-body ul li p::first-letter {
  font-size: 250%;
  font-family: 'Helvetica','Roboto', sans-serif; 
  background-image: linear-gradient(to top, #FF0000, #320000);
  background-clip: text;
  /*! box-shadow: -2px 2px 8px 0px navy, -2px 2px 8px 5px cyan; */
  /*! box-shadow: -2px -2px 5px 0px darkred; */
  color: transparent;
  float: left;
  border-radius: 10px;
  /*! border-style: solid; */
  /*! border-color: darkred; */
  border-width: 1px;
  padding: 5px 3px;
  margin-right: 5px;
}

.texan-text {
  color: navy;
}

.oregonian-text {
  color: green;
}

section.skills-sect {
  background-color: darkgray;
  box-shadow: 0px 0px 10px 3px black;
}

.jumbotron {
  box-shadow: -1px 1px 10px black;
}

.jumbo-text {
  font-size: 1.5em;
}

.card {
  box-shadow: -1px 1px 6px black;
}

.propic-shadow-hax {
/*  box-shadow: -2px 2px 8px 0px navy, -2px 2px 8px 5px cyan; */
/*  you can't use the above with clip-path becuase it will cutoff the shadow, but 
 *  you can use filter with drop-shadow() on a parent to affect the cutoff area */
  filter: drop-shadow(-2px 2px 12px cyan) drop-shadow(2px -2px 6px navy);
  
}

.propic-figure {
  padding: 5px;
  max-width: fit-content;
  margin: 0 auto;
  display: grid;
  float: left;
  background-color: lightsteelblue;
  clip-path: circle(42.8%);
}

.propic-figure img {
  width: 200px;
  clip-path: circle(42.8%);
}

.propic-figure figcaption {
  text-align: center;
  padding: 0.25ch;
  margin-top: 0.5ch;
  background-color: lightslategray;
  color: white;
}

.row {
  margin-bottom: 1ch;
}

div.skills-sect {
  display: grid;
  column-gap: 1ch;
  row-gap: 1ex;
  grid: auto-flow dense / 1fr 1fr 1fr;
}

#html-badge {
  background: linear-gradient(to right, #e54c21 50%, #f16524 50%);
}

#css-badge {
  background: linear-gradient(to right, #214ce5 50%, #2465f1 50%);
}

#sharp-badge {
  background: linear-gradient(45deg, #189f20 50%, #009404 50%);
}

#bash-badge {
  color: limegreen;
}

#vscode-badge {
  /*! background-color: #4db3f3 */
  background-color: #0066b8
}

#boot-badge {
  background: linear-gradient(to right, #8912f9,#6d10f3);
}

hr {
  border-color: black;
  border-width: 2px;
}

img + div.card-body hr {
/* tighter fit for hrs in cardbodies that follow an img */
 margin-top: -1ex; 
}

#porto-boot-recreate .card-img-top,
#porto-fdte-first-section .card-img-top {
  object-fit: cover;
  aspect-ratio: 1.5/1.333333;
}

address a[href^=mailto]::before {
  content: "📧: ";
}
address a[href^=tel]::before {
  content: "📱: ";
}