hgroup.jumbotron {
  text-align: center;
/*  to not touch the page top  */
  margin-top: 1rem;
}

.propic-figure {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  max-width: fit-content;
  margin: 0 auto;
  display: grid;
  background-color: lightsteelblue;
}

.propic-figure img {
  width: 200px;
  clip-path: circle(42.8%);
}

.propic-figure figcaption {
  text-align: center;
  padding: 0.25ch;
  margin-top: 0.5ch;
  background-color: lightslategray;
  color: white;
}

.row {
  margin-bottom: 1ch;
}

div.skills-sect {
  display: grid;
  column-gap: 5px;
  grid: auto-flow dense / 1fr 1fr 1fr;
}

#html-badge {
  background: linear-gradient(to right, #e54c21 50%, #f16524 50%);
}

#css-badge {
  background: linear-gradient(to right, #214ce5 50%, #2465f1 50%);
}

#sharp-badge {
  background: linear-gradient(45deg, #189f20 50%, #009404 50%);
}

#bash-badge {
  color: limegreen;
}